* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: black;
	font-style: sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

a {
	color: rgba(0, 113, 59, 1);
}

.style_1 {
	font-size: 16px;
}

.style_2 {
	font-size: 14px;
}

.clear {
	clear: both;
}

header {
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}

#isi {
	margin: 20px 0;
	min-height: 32vh;
}

footer {
	left: 0;
	bottom: 0;
	padding: 20px;
	width: 100%;
	text-align: center;
}

img {
	max-height: 100px;
	max-width: 100px;
	margin-right: 20px;
}

#info_admin {
	/*float: right;*/
	text-align: right;
	padding-top: 25px;
}

#nav {
	padding: 20px 0;
	border-bottom: 2px solid black
}

.bagi-2 {
	max-width: 450px;
}

.margin-top-20 {
	margin-top: 20px;
}

.empty-space {
	margin: 20px 0;
	height: 100px;
}

.modal-content {
	padding: 20px 40px;
}

.judul-modal {
	margin-bottom: 30px;
}

.button-modal {
	margin-top: 80px;
}

#login {
	padding: 20px;
	max-width: 500px;
	margin: 100px auto;
	border: solid black 1px;
	border-radius: 10%;
}